//META{"name":"Better Light Theme","description":"A light theme that is easy to read, with basic user settings. *Only works in light mode. Please use the support server listed below if you need any help.","author":"Satoru","version":"1.4","website":"http://discord.gg/fjvwb95"}*//{}

@import url(https://satoru8.github.io/Addons/LargeChatAvatars.css);
@import url(https://satoru8.github.io/Addons/Library.css);
@import url(https://satoru8.github.io/Addons/GlowStatus.css);
@import url(https://satoru8.github.io/FullSizePfp/FullSizePfp.css);
@import url(https://satoru8.github.io/BetterLightTheme/BetterLightTheme.css);

:root {

	--mc: #ccc;  /* Main theme colour. Default #dadada */

	--text: #000;		/* Chat/typing text colour. Default #000 */
	--unread: #00f;
	--round: 5%;		/* Icon roundness. 50% Circle, 0% Square */
	--font: sans-serif; 
	--fsize: 14px;		/* Font Size. Default 14px */


    --bg1: rgba(0,0,0, .5);	/* Library Background transparency/colour */
    --bc1:hsla(208, 100%, 50%, 0.6);	/* Library Box-shadow  */

    --profileradius: 0px; /* 0 is normal squared edges. Up to 50px for rounded profiles. */
	--color: #fff; /* Profile Name colour */

	/* Chat Avatar Addon */
	--size1: 60px; /* Avatar Size */
	--round1: 5%;  /* Avatar roundness 50% Circle. */
	--margin1: 0px; /* Margin left/right */
	--margin2: 0px; /* Margin top/bottom */
	--shadow1: 0 0 1px #000; /* Avatar Shadow for transparent themes. */
	--compact: 5px;    /* Default 5px, Non-compact 15px. This makes the chat msgs a bit more compact by default. */
	/* Glow Status */
    --sglow: 0px 2px; /* Blur/Thickness Default: 5px 2px (Glow) /  (Border) 0px 2px*/
    --online: #43b581;
    --offline: #747f8d;
    --idle: #faa61a;
    --stream: #593695;
    --dnd: #f04747;
    --invis: #1a36fa;

}
