/* Scrollbars */
.scroller-wrap .scroller::-webkit-scrollbar,#app-mount .activityFeed-28jde9 ::-webkit-scrollbar {width:8px !important}
::-webkit-scrollbar-thumb {border-color: transparent !important; background: rgba(0, 0, 0, 0.55) !important;border-radius:0px !important} 
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece,::-webkit-scrollbar-track {width:8px !important;border-color: transparent !important; background: transparent !important;} 

/* Msg Area */
#app-mount .container-3-pyIM{color:#272727}
#app-mount .edited-DL9ECl,#app-mount .container-3-pyIM .content-2M3n_H a {color: #009bff}
#app-mount .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after, 
#app-mount .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before{background:transparent}
#app-mount .divider-3gKybi .dividerContent-2L12VI:after, 
#app-mount .divider-3gKybi .dividerContent-2L12VI:before{border-color: transparent}
#app-mount .isMentioned-N-h9aa {background: rgba(255, 113, 2, 0.4)}
.isMentionedCozy-3isp7y:after {border-left: 4px solid #ec6800;left: -4px}
.isMentioned-N-h9aa {left:.2rem;top:.2rem}
#app-mount .dividerEnabled-2TTlcf {border-bottom-color: #000}
#app-mount .chat-3bRxxu .divider-3gKybi>div {background:#000}
#app-mount .username-_4ZSMR {color: #000;text-shadow:.4px .4px .1px rgba(0, 0, 0, 0.1)}
#app-mount .containerCozy-jafyvG .edit-message .edit-container-outer {margin-left: 10px}
#app-mount .chat-3bRxxu .divider-3gKybi:before {display:none}
#app-mount .channelName-3stJzi, #app-mount .groupDM-3qU0Ks .channelName-3stJzi, 
#app-mount .groupDMManaged-1GyXtq .channelName-3stJzi, #app-mount .input-autosize-input {color: #000}
#app-mount .chat-3bRxxu .containerCozy-jafyvG .avatar-large {background-size: 50px 50px;height: 50px;width: 50px}
#app-mount .textArea-2Spzkt {color: var(--text) !important;font-weight: bold}
#app-mount .chat-3bRxxu .base-34jWEe h1 {color: #000;text-align:center;font-size:20px}
#app-mount .containerCozy-jafyvG h2 strong {font-weight:bold}
#app-mount .containerCozy-jafyvG h2 .timestampCozy-2hLAPV,#app-mount .timestamp-1E3uAL{color: #000;font-weight:bold}
#app-mount .containerCozy-jafyvG .markup-2BOw-j {color: var(--text);font-size:var(--fsize);font-family:var(--font);font-weight:600;text-rendering: optimizeLegibility;}
#app-mount .containerCozy-jafyvG .markup-2BOw-j strong {font-weight: 800}
#app-mount .inner-zqa7da {background: #f5f5f5;color:#000;box-shadow:0 0 5px 0 #000}
#app-mount .wrapper-35wsBm {background: #eee;border-color: #000}
#app-mount .typing-2GQL18 {background:rgba(0, 0, 0, 0);color:#000;bottom:-4px}
#app-mount .chat-3bRxxu .divider-3gKybi>span {background-color:transparent;color: #000;line-height:19px}
#app-mount .chat-3bRxxu .divider-3gKybi {background-color: transparent}
#app-mount .chat-3bRxxu .divider-3gKybi.dividerRed-MKoLlr>div {opacity: 1}
#app-mount .channelTextArea-rNsIhG {padding-top:8px}
#app-mount .chat-3bRxxu form,#app-mount .channelTextArea-rNsIhG {box-shadow:none;border:none}
#app-mount .wrapper-3WhCwL {background: rgba(142, 142, 142, 0);color:#0000ff}
#app-mount .wrapper-3WhCwL:hover {background:rgba(75, 75, 181, 0.3);color: #0082ff}
#app-mount .autocompleteInner-zh20B_ {background-color: #eee;border: 1px solid #000;}
#app-mount .attachment-33OFj0 {border-color: #000;background:#eee}
#app-mount .embedPill-1Zntps {background-color: rgba(0, 0, 0, 0.8)}
#app-mount .embedInner-1-fpTo {background: hsla(0,0%,98%,.3);border: 1px solid #000;border-radius:0}
#app-mount .containerCozy-jafyvG-blocked {background: #f2f2f2;border: 1px solid #000}
#app-mount .containerCozy-jafyvG-blocked .containerCozy-jafyvG-blocked-btn {color: #000}
#app-mount .containerCozy-jafyvG-blocked.revealed {background: #f2f2f2;border: 1px solid #000}
#app-mount .imageWrapper-2p5ogY{box-shadow: 0 0 2px 0 #000}
#app-mount .messageGroupBlocked-3wrQQX{box-shadow:0 0 2px #000;background:#f2f2f2}
#app-mount .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {border-color: #000; color: #000}
#app-mount .lookOutlined-3sRXeN.colorPrimary-3b3xI6:hover {border-color: #000;}
/* Member List */
#app-mount .membersGroup-v9BXpm {color: #000;font-size: 13px;font-weight: bold;text-align:center}
#app-mount .memberOnline-1CIh-0,#app-mount .activity-1IYsbk {color: #000}
#app-mount .username-1cB_5E {font-weight:bold;text-shadow:.1px .1px .1px rgba(0, 0, 0, 0.2);line-height:19px;width:100%}
#app-mount .content-OzHfo4:hover .nameTag-3p0yK-:not([style]) {color: #eee}
#app-mount .member-3W1lQa:hover .content-OzHfo4 {background-color: #8a8a8a;color: #f1f1f1}
#app-mount .member-3W1lQa.popout-open .content-OzHfo4, #app-mount .member-3W1lQa.popout-open:hover .content-OzHfo4 {background-color: #8a8a8a}
#app-mount .membersWrap-2h-GB4 .small-5Os1Bb {height: 35px;width: 35px}
/* Channels */
#app-mount .channelNotices-41mJbj .channelNotice-1-XFjC.quickswitcher-35bYg4,
#app-mount .channelNotices-41mJbj .channelNotice-1-XFjC.invite-OjTXrW {background: none}
#app-mount .channelNotices-41mJbj .channelNotice-1-XFjC {box-shadow: none;padding: 15px 10px 20px}
#app-mount .channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P {color: #000}
#app-mount .channelNotices-41mJbj .channelNotice-1-XFjC .close-relY5R {opacity: .8}
#app-mount #app-mount .wrapper-2NJDcI {background-color: #000;border-radius: 4px;color: #eaeaea}
#app-mount .addButtonIcon-3u-3Hu {opacity:1}
#app-mount svg.addButtonIcon-3u-3Hu polygon {fill: #000}
#app-mount .button-1w5pas path:nth-child(n + 2){stroke: #000}
#app-mount .name-3M0b8v{ font-size: 14px}
#app-mount .topic-2QX7LI,#app-mount .container-2Thooq,.accountDetails-3k9g4n .discriminator {color: #000;opacity:1;font-weight:bold}
#app-mount .header-2o-2hj {color:#000;font-weight:bold;box-shadow:0 0 0 transparent;border-bottom:1px solid #000}
#app-mount .nameDefault-2s3kbY, #app-mount .nameHovered-21k1eo, #app-mount .nameSpeaking-3UhoEZ {color: #000 !important}
#app-mount .nameHovered-21k1eo{background-color: rgba(0, 0, 0, 0.6)}
.button-2KyEfG {opacity:1;background-color: rgba(0, 0, 0, 0.7);margin: 1px}
#app-mount .inner-btChU7 .channel-SEolQq {color: #000; opacity:1;font-weight:600;}
#app-mount .container-2Thooq {border-top: 1px solid}
#app-mount .container-1UB9sr {background: transparent;font-weight: bold;border-bottom:none;padding:2px;}
#app-mount .nameConnectedText-3CzNQn, #app-mount .nameConnectedVoice-MHUX5F, #app-mount .nameSelectedText-sp_EUw, 
#app-mount .nameSelectedVoice-1qSph5,#app-mount .nameDefaultText-24KCy5, #app-mount .nameDefaultVoice-3WUH7s, 
#app-mount .nameLockedText-3pqQcL, #app-mount .nameLockedVoice-26MhB1 {color: #000;font-weight:bold}
#app-mount .contentSelectedText-3wUhMi, #app-mount .contentSelectedVoice-1WDIBM,
#app-mount .contentHoveredText-2D9B-x,#app-mount .contentHoveredVoice-3p_NEO {background-color: #6f6f6f}
#app-mount .nameHoveredText-1uO31y, #app-mount .nameHoveredVoice-YJ1Vfd,
#app-mount .nameSelectedText-sp_EUw, #app-mount .nameSelectedVoice-1qSph5{color:#000;font-weight:bold}

#app-mount .iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ,#app-mount .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB,.colorConnectedText-1c_uzY, 
#app-mount .colorConnectedVoice-3kyvUN, #app-mount .colorDefaultText-oas-QM, #app-mount .colorDefaultVoice-3wYlhb, #app-mount .colorHoveredText-OZnAgu,
#app-mount .colorHoveredVoice-1kucsK, #app-mount .colorLockedText-1VRkPt, #app-mount .colorLockedVoice-2UlBjl, #app-mount .colorSelectedText-1y4Wvs, 
#app-mount .colorSelectedVoice-Xcb_9R {opacity:1; color: #000}

#app-mount .colorUnreadText-2t7XRb, #app-mount .colorUnreadVoice-137o4S {color: #0000ff;opacity:1}
#app-mount .nameUnreadText-DfkrI4, #app-mount .nameUnreadVoice-EVo-wI {color: #0000ff;font-weight:bold}

#app-mount .unread-1Dp-OI {background-color: #00f;height: 14px;top: 40%;}
#app-mount .iconCollapsed-3hFp_8, #app-mount .iconDefault-3Gr8d2, #app-mount .nameCollapsed-34uFWo,#app-mount .nameDefault-2DI02H {color: #000;}

#app-mount .base-34jWEe {background-image: none;height: 50px;padding-bottom: 18px;border:none}
#app-mount .button-2b6hmh{background:rgba(0, 0, 0, 0.8) no-repeat 50% 50%;color: #fff;opacity:1;margin: 1px;width: 22px;height:22px;}
#app-mount svg.icon-1792kv,#app-mount svg.actionIcon-2Hi9ZG {opacity:1}
#app-mount .icon-3nr6O-,#app-mount .icon-29PTzq {opacity:1;background-color: rgba(0, 0, 0, 0.9)}
#app-mount .icon-1KK5se{fill: #000; opacity:1}
#app-mount .contentConnectedVoice-qL-YrL svg.actionIcon-2Hi9ZG path,#app-mount .wrapperConnectedVoice-2mvQJY:nth-child(1) path{fill: #000}
#app-mount .base-3dtUhz {border-radius: 0}
#app-mount svg.button-1w5pas g path{opacity: 1}

/* Guilds */
#app-mount .guildsWrapper-5TJh6A .scrollerWrap-1IAIlv .guild-1EfMGQ .guildInner-3DSoA4 {background-color:transparent}
#app-mount #bd-pub-button[style="line-height: 20px; font-size: 12px;"] {background:rgb(10, 10, 10)}
#app-mount #friends .friends-table .friends-row .friends-column-actions .friends-action,
#app-mount #friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-voice-call,
#app-mount #friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-remove {background-color: #000}
#app-mount .guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM {color: #000;font-size:600;font-size:11px}
#app-mount .guildsWrapper-5TJh6A .guildSeparator-1X4GQ1:after {background-color:transparent}
#app-mount .guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:before {background: #00f;border-radius: 8px;}
#app-mount .guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq:before {background: #000}
#app-mount .guildsWrapper-5TJh6A .guildsAdd-21_IdK {background: rgba(32, 34, 37, 0.6);border: 1px solid #000;color: #000}
#app-mount .guildsWrapper-5TJh6A .guildsAdd-21_IdK:hover {background: rgba(32, 34, 37, 0.8);border: 1px solid #000;color: #fff}

/* Friends */
#friends .friends-table .friends-row .friends-column-status .status {right:235px;bottom: 0;height: 40px;width: 40px}
.searchBar-6Kv8R2 {height:47px}
@media (max-width:1300px){#friends .friends-table .friends-column-name{width:200px !important}}
@media (max-width:1300px){#friends .friends-table .friends-column-guilds{display:inline-flex !important}}
#app-mount .privateChannels-1nO12o .channel-2QD9_O .avatar-small{width:35px;height:35px;background-size:35px 35px}
#app-mount #friends .friends-table .friends-row .avatar-large, #friends .friends-table .friends-row .avatar-small{left:3px;width:40px;height:40px;background-size:40px 40px;}
#app-mount .addFriendInput-4bcerK {color: #000;font-size:16px;font-weight:600}
#app-mount .wrapper-1cBijl {border-color:#000}
#app-mount #friends .friends-table .friend-table-add-wrapper h2 {color: #000;text-align:center;font-size: 18px}
#app-mount #friends .friends-table .friend-table-add-wrapper .friend-table-add-description {color: #000;font-size: 16px;font-weight: 600;text-align:center}
#app-mount #friends .tab-bar .tab-bar-item .badge-1GsMF2 {background: #000}
#app-mount #friends .friends-table .friends-table-header .friends-column-separator { background-color: #000}
#app-mount .privateChannels-1nO12o .channel-2QD9_O a {color: #000}
#app-mount .privateChannels-1nO12o .channel-2QD9_O.selected-1HYmZZ-1HYmZZ a {color: #fff}
#app-mount .privateChannels-1nO12o header {color: #000;font-size: 16px;font-weight: bold;opacity: 1;text-transform: capitalize;text-align:center}
#app-mount .privateChannels-1nO12o .channel-2QD9_O .name-2WpE7M {color: #000;font-size: 14px;font-weight: bold;opacity: 1;}
#app-mount .headerBar-UHpsPw,#app-mount .privateChannels-1nO12o .searchBar-6Kv8R2 {box-shadow:none;border-bottom:1px solid #000}
#app-mount .searchBar-6Kv8R2 .search-bar{background: transparent;border:none}
#app-mount #friends .tab-bar {font-weight: bold}
#app-mount #friends .tab-bar .tab-bar-item.tab-bar-item-primary {background-color: #dadada;color: #000}
#app-mount #friends .tab-bar .tab-bar-item.selected {background-color: #000;color: #fff}
#app-mount #friends .tab-bar .tab-bar-item:hover:not(.selected),#app-mount #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {background-color: #869198}
#app-mount #friends .tab-bar .tab-bar-item {color: #000;margin: 0 4px;padding: 0 4px}
#app-mount #friends .friends-table .friends-row .friends-column-name,#app-mount #friends .friends-table .friends-row .friends-column-status,
#app-mount #friends .friends-table .friends-table-header .friends-column,#app-mount .privateChannels-1nO12o .channel-2QD9_O .activityText-OW8WYb {color: #000;font-weight:bold}
#app-mount .privateChannels-1nO12o .channel-2QD9_O:hover {color: #fff}
#app-mount .privateChannels-1nO12o .channel-2QD9_O.selected-1HYmZZ a,#app-mount .privateChannels-1nO12o .channel-2QD9_O a:hover,.channel-2QD9_O:hover a  {background-color: #969ca7;color:#fff;}
#app-mount #friends .friends-table .friends-row {border-top: 1px solid #000}
#app-mount #friends .friends-table .friends-row:hover {border-radius: 0;border-bottom:1px solid #000}
#app-mount #friends .friends-table .friends-table-header {text-align:center;border-bottom: 0;padding: 2px 30px}
#app-mount #friends .tab-bar .tab-bar-item.selected .badge-1GsMF2 {background-color: #000;color: #fff}

/* Activity */
#app-mount .headerText-2niCs_ {color: #000; font-size: 22px}
#app-mount .dockItem-2kQDqg:hover {background-color: #b1b1b1;border: 1px solid #000}
#app-mount .splashArt-1anaP9 {opacity: 1}
#app-mount .card-7JP0BX {background: rgb(206, 206, 206);border: 1px solid #000}
#app-mount .header-1RC2Wb {background: hsla(210,3%,87%,0)}
#app-mount .username-XRo90I,#app-mount .discriminator-1Kma2g,#app-mount .gameName-wzJptK,
#app-mount .headerTitle-3gIsns,#app-mount .gameName-wzJptK,#app-mount .discriminator-pIKHPn, #app-mount .playTime-1laRtO {color: #000}
#app-mount .body-SKIE6r {background: #e2e2e2}
#app-mount .header-1RC2Wb:hover {background: rgba(0, 0, 0, 0.25)}
#app-mount .player-1kJMbj {border-bottom-color: #000}
#app-mount .lookFilled-1Gx00P.colorPrimary-3b3xI6 {background-color: hsla(0, 0%, 0%, 0.2);color: #000;border:1px solid #000}
#app-mount .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {background-color: rgba(0, 0, 0, 0.5)}
#app-mount .paginationItem-2lUq0s:before {background: #00f}
#app-mount .paginationItem-2lUq0s:after{visibility: hidden}
#app-mount .splashArt-3I5Qmp,#app-mount .splashArt-3yFzRe{opacity:1;filter:none;width: 100%;-webkit-mask: radial-gradient(100% 100% at top left,hsla(0,0%,100%,.4) 0,hsla(0,0%,100%,.6))}

#app-mount .tileWrapper-2khh-w,#app-mount .root-1bFE0x {background: #eee}

/* Code Stuff */
#app-mount .containerCozy-jafyvG .markup-2BOw-j code.inline {background: rgba(0, 0, 0, 0.9);color:rgba(255, 255, 255, 0.9)}
#app-mount .containerCozy-jafyvG .markup-2BOw-j pre code {background: #eee;box-shadow: 0 0 3px 1px #000;color:#000}

/* Emoji Stuff */
#app-mount .containerCozy-jafyvG .button-3Jq0g9, .containerCozy-jafyvG .reactionBtn-2na4rd,#app-mount .reactions-1xb2Ex .reactionBtn-2na4rd {opacity: 1}
#app-mount .reaction-1ELvT8 {background: rgba(0, 0, 0, 0.3);border-radius: 3px;border: 1px solid #000}
#app-mount .reaction-1ELvT8 .reactionCount-2ddRoS {color:#000;}
#app-mount .reaction-1ELvT8.reactionMe-23mbRf {background: rgba(0, 255, 245, 0.36)}
#app-mount .emojiPicker-3m1S-j {background-color: #eee;border: 1px solid #000;box-shadow: 0 0 0 0 rgba(0,0,0,0);}
#app-mount .emojiPicker-3m1S-j .category-2U57w6 {color: #000;font-size: 16px;text-transform: capitalize;text-align:center;background:rgba(0, 0, 0, 0.25)}
#app-mount .emojiPicker-3m1S-j .search-bar {background:#eee}
#app-mount #bda-qem {background: #eee;border:1px solid #000}

/* Modals */
#app-mount .messageGroupWrapper-o-Zw7G {border:1px solid #000}
#app-mount .messageGroupWrapper-o-Zw7G:hover {border-color: #000}
#app-mount .themedPopout-25DgLi .header-SsaQ8X {box-shadow: 0 1px 1px 0 rgba(0,0,0,1)}
#app-mount .userPopout-3XzG_A {border: 1px solid #000}
#app-mount .header-QKLPzZ {border-bottom: 1px solid rgba(0, 0, 0, 0.5)}
#app-mount .header-QKLPzZ .profile-ZOdGIb {height: 100px;width: 100px}
#app-mount .connectedAccount-36nQx7 {background:#e6e6e6;border: 1px solid #000;margin-top: 5px;padding: 6px 18px 6px 10px}
#app-mount .connectedAccount-36nQx7:hover {background:rgba(0, 0, 0, 0.2)}
#app-mount .connectedAccountName-f8AEe2 {color: #000}
#app-mount svg.connectedAccountVerifiedIcon-3aZz_K g path {fill:rgba(0, 0, 0, 0.3)}
#app-mount .connectedAccountOpenIcon-2cNbq5 {background: url(https://rawgit.com/satoru8/Icons/master/connectedaccount.svg) no-repeat 50%}

#app-mount .wrapperAudio-1jDe0Q {background-color: #eee;border-color: #000}
#app-mount .keyboardShortcutsModal-3piNz7 {background-color: #ddd}
#app-mount .container-3ayLPN {background: #ddd}
#app-mount .contentDefault-16dKSY, #app-mount .contentDefault-16dKSY .note-S--UP5 {color: #000}
#app-mount .resultFocused-3aIoYe {background:rgba(0, 0, 0, 0.3)}
#app-mount .channelSeparator-1MxuvT {text-align: center}
#app-mount .channelName-3kBz6H,#app-mount .guildName-1Bc3Ta {font-size:18px;line-height:0}
#app-mount .option-96V44q:after {background: linear-gradient(90deg,hsla(0,0%,100%,0),rgba(255, 255, 255, 0) 80%)}
#app-mount .topSectionNormal-2-vo2m .profileBadgeText-1JgCcU,#app-mount .topSectionNormal-2-vo2m .tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP,.userInfoSectionHeader-CBvMDh {color: #000;text-align:center}
#app-mount .input-cIJ7To {background-color: rgba(255, 255, 255, 1);border-color: #000;color: #000;}
#app-mount .downloadLink-1ywL9o {text-align:center;font-size:16px;color: #0025ff;opacity: 1;background: rgba(0, 0, 0, 0.5)}
#app-mount .search .search-bar {border: 1px solid #000;border-radius:50px}
#app-mount .menu-Sp6bN1.alt-3btY0e {background: #f2f2f2}
#app-mount .topSectionNormal-2-vo2m .discriminator-xUhQkU {color: rgba(0, 0, 0, 0.7)}
#app-mount .inner-1JeGVc{border-radius:8px}
#app-mount .menu-Sp6bN1 {background:#f6f6f6 }
#app-mount .searchPopout-1vUlP3 {background-color: #f2f2f2;}
#app-mount .option-96V44q.selected-rZcOL- {background-color: #ddd;}
#app-mount .option-96V44q.selected-rZcOL-:after {background: -webkit-gradient(linear,left top,right top,from(hsla(0, 0%, 0%, 0)),color-stop(50%,rgba(0, 0, 0, 0)));background: linear-gradient(90deg,hsla(0, 0%, 0%, 0),rgba(0, 0, 0, 0) 50%);}
#app-mount .searchOption-zQ-1l6 .filter-3Y_im-,#app-mount .searchOption-zQ-1l6 .answer-1n6g43,
#app-mount .resultsGroup-r_nuzN .header-2N-gMV,#app-mount .option-96V44q .filter-3Y_im- {color: #000}
#app-mount .themedPopout-25DgLi .header-SsaQ8X .title-23FrqZ {color: #000;font-size: 18px;text-align:center}
#app-mount .guildNick-3uAm3i, #app-mount .listName-3w10cx,#app-mount .headerTabBarWrapper-27xBDe .tab-bar.TOP .tab-bar-item.selected,
#app-mount .headerTabBarWrapper-27xBDe .tab-bar.TOP .tab-bar-item,#app-mount .mentionFilter-1PQ6ey,#app-mount .channelName-3kBz6H,
#app-mount .guildName-1Bc3Ta {color: #000}
#app-mount .themedPopout-25DgLi {border: 1px solid #000}
#app-mount .messagesPopout-24nkyi .containerCozy-jafyvG:hover .actionButtons-1sUUug {background-color: rgba(0, 0, 0, 0.0);box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.0);}
#app-mount .messagesPopout-24nkyi .containerCozy-jafyvG:hover .actionButtons-1sUUug .jumpButton-3DTcS_ {color: #000;background:rgba(0, 0, 0, 0.2);border:1px solid #000}
#app-mount .messagesPopout-24nkyi .containerCozy-jafyvG:hover .actionButtons-1sUUug .closeButton-17RIVZ{opacity:1;}
#app-mount .messagesPopout-24nkyi .containerCozy-jafyvG:hover .actionButtons-1sUUug .jumpButton-3DTcS_ .loading-2bJK5L {display:none}

#app-mount .note-3kmerW textarea {color: #000}
#app-mount .note-3kmerW textarea:focus {background: #fff;color:#000;border:1px solid #000}
#app-mount .note-3kmerW textarea:focus::-webkit-scrollbar {display:none}

#app-mount .body-3iLsc4, #app-mount .footer-1fjuF6 {background-color: #eee;color: #000}
#app-mount .quickMessage-2XpSaN {border: 1px solid #000}

#app-mount #autocomplete-popout .autocomplete-scroller{border-radius:3px 3px 0 0}
#app-mount #autocomplete-popout .autocomplete-scroller,#app-mount #autocomplete-popout header {background: #eee;border: 1px solid #000;}
#app-mount #autocomplete-popout .row.selected{background: linear-gradient(90deg,hsla(0, 0%, 71%, 0.4),hsla(0, 0%, 0%, 0.5));}
.create-guild-container.deprecated .create-or-join .form-inner,.form-deprecated .form-inner,
.form.deprecated .form-inner,.form-deprecated .form-actions, .form.deprecated .form-actions,
.form-deprecated .btn-default, .form.deprecated .btn-default {background-color:#eee}
.form-deprecated .btn-default, .form.deprecated .btn-default {border:none}
#app-mount .search-results-wrap{background: #ddd}
#app-mount .search-results-wrap .search-result .search-result-message.hit {border: 1px solid  #000}
.search-results-wrap .search-result:after, .search-results-wrap .search-result:before {background-image: linear-gradient(0deg,rgba(242, 242, 242, 0),rgba(0, 0, 0, 0.1));}
.search-results-wrap .channel-separator .name-2WpE7M {background-color: #ccc;color: #000}
#app-mount .item-1GzJrl {color: rgba(0, 0, 0, 0.8)}
#app-mount .item-1GzJrl:hover {background-color: #ddd;color: #000}
#app-mount .alt-3btY0e .helper-2c73HK {color: rgba(0, 0, 0, 0.8)}
#app-mount .search-results-wrap .search-header .tab, #app-mount .search-results-wrap .search-header .total-results {opacity:1;color:#000}
.search-bar.search-bar-light .search-bar-inner,#app-mount .modal-3HD5ck {border: 1px solid #000}
#app-mount .friend-2PO6ke {color: #000}
#app-mount .uploadModal-2ifh8j .inner-3nWsbo {border: 2px dashed #000;color: #000} 
#app-mount .searchAnswer-3Dz2-q, #app-mount .searchFilter-2ESiM3 {background-color: transparent;color: #000}
#app-mount .search-results-wrap .channel-separator .channel-name {background-color: transparent;color: #000;font-size: 1.1rem}
.search-results-wrap .channel-separator:before {border:transparent}
.search-results-wrap .search-result:after, .search-results-wrap .search-result:before {background-image:none}
.search-results-wrap .search-result .search-result-message.hit {background-color: #eee;box-shadow: none}

#app-mount .regionSelectModal-12e-57 {background: #eee}
#app-mount .regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 {background-color: #f2f2f2;border: 2px solid #000}

/* Tooltips & stuff */
#app-mount.contextMenu-HLZMGh {background: #eee;color:#000;border:1px solid #000}
#app-mount.contextMenu-HLZMGh .item-1Yvehc{color: #000}
#app-mount.contextMenu-HLZMGh .item-1Yvehc:hover {background: #ccc;color: #000}
#app-mount .itemGroup-1tL0uz {border-color: #000}

/* Settings - Original snippet from zere*/ 
:root {
--w2: 70% ;
--h2: 90% ;
}

#app-mount .layer-3QrUeG, #app-mount .layers-3iHuyZ,#app-mount .standardSidebarView-3F1I7i,
#app-mount .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN,
#app-mount .standardSidebarView-3F1I7i .contentRegion-3nDuYy {opacity:.94;}
.userSettingsAccount-2eMFVR div:nth-child(2) > div:nth-child(2) > .viewBody-2Qz-jg {transition: 0.2s ease-in;filter: blur(5px)}
.userSettingsAccount-2eMFVR div:nth-child(2) > div:nth-child(2) > .viewBody-2Qz-jg:hover {transition: 0.2s ease-out;filter: none}
.layers-3iHuyZ {align-items:center;justify-content:center}
.layers-3iHuyZ > .layer-3QrUeG:first-child {opacity: 1!important;transform: none!important}
.layers-3iHuyZ > .layer-3QrUeG.stop-animations:first-child {z-index: 1}
.layers-3iHuyZ > .layer-3QrUeG:nth-child(2)::before {
    content: "";position: absolute;top: -100%; left: -100%;right:-100%;
    padding: 100%;background: rgba(0, 0, 0, 0.6);z-index: 2;width: 100%;height: 100%}
.layers-3iHuyZ > .layer-3QrUeG:nth-child(2) {
    width: var(--w2);height: var(--h2);top:unset;bottom:unset;right:unset;left:unset;
    display: block;overflow: visible;transform: translateZ(0);z-index: 3}
#app-mount .margin-bottom-40 .h5-18_1nd {color: #000;font-size: 16px;text-align:center}
#app-mount  .defaultColor-1_ajX0 {color: #000;font-size: 18px}
#app-mount .item-3T2z1R {border-color: #000} 
#app-mount .cardPrimaryEditable-3KtE4g {border-color: #000}
#app-mount #bd-settingspane-container .ui-switch-item .style-description {border-bottom: 1px solid hsl(0, 0%, 0%)}
#app-mount .divider-3573oO {background-color: hsl(0, 0%, 0%)}
#app-mount .item-3eFBNF {box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 0%, 1)}
#app-mount #bd-settingspane-container .ui-switch-item .style-description,#app-mount #bd-settingspane-container h2.ui-form-title,
#app-mount #bd-settingspane-container .ui-switch-item h3,#app-mount .standardSidebarView-3F1I7i,#app-mount .standardSidebarView-3F1I7i label,
#app-mount .standardSidebarView-3F1I7i h5, #app-mount .description-3_Ncsb,#app-mount .avatar-uploader .remove-button {color:#000;font-weight:bold}
#app-mount .userSettingsAccount-2eMFVR .viewBody-2Qz-jg {color: #000:opacity:1}
#app-mount .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ,#app-mount  #bd-settings-sidebar .ui-tab-bar-item{line-height:10px}
#app-mount .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e {padding: 10px 0 0 10px !important;width: 175px !important}
#app-mount .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN {flex: 0}
#app-mount .standardSidebarView-3F1I7i .contentColumnDefault-1VQkGM {max-width: 90%;padding: 40px 30px 80px}
#app-mount .lookOutlined-3sRXeN.colorWhite-rEQuAQ {border-color: #000;color: #000}
#app-mount .primary-jw0I4K,#app-mount .Select--single>.Select-control .Select-value,#app-mount .Select-placeholder {color:#000;}

#app-mount .standardSidebarView-3F1I7i .esc-text {color: #000}
#app-mount .standardSidebarView-3F1I7i .btn-close {border-color: #000}
.btn-close > svg > g > path.fill {fill: #000}
#app-mount .cardPrimary-1Hv-to {background-color: #f2f2f2;border-color: #000}
#app-mount .side-8zPYf6 .header-2RyJ0Y,#app-mount .side-8zPYf6 .item-PXvHYJ,
#app-mount #bd-settings-sidebar .ui-tab-bar-header,#app-mount #bd-settings-sidebar .ui-tab-bar-item {color: #000;font-weight:bold}
#app-mount .side-8zPYf6 .itemSelected-1qLhcL {background-color: #5f636b;color: #000}
#app-mount .side-8zPYf6 .itemDefault-3Jdr52:hover, #app-mount .side-8zPYf6 .itemHover-EnbcjT:hover,
#app-mount #bd-settings-sidebar .ui-tab-bar-item.selected,#app-mount #bd-settings-sidebar .ui-tab-bar-item:hover {background-color: #5f636b;color: #fff}
#app-mount .bda-slist .bda-header,#app-mount .bda-slist .bda-description {color: #000}
#app-mount .bda-slist .bda-header {font-size:16px}
#app-mount .bda-slist .bda-footer a {color: #00ffee}
#app-mount .bda-slist li {background: #777;border: 1px solid #000}
#app-mount .side-8zPYf6 .header-2RyJ0Y,#app-mount #bd-settings-sidebar .ui-tab-bar-header{height:25px;text-align:center;font-size: 14px;border-bottom:1px solid #000}
#app-mount .bda-slist .bda-footer,#app-mount .bda-slist .bda-header {border-color: #000}
/*Pubslayer*/
#app-mount #pubslayer h2.ui-form-title,#app-mount #pubslayer .ui-tab-bar-header {color: #000;text-align:center;font-weight:bold}
#app-mount .bd-server-description-container {color: #000}
#app-mount .bd-server-card .bd-server-tags {color: #0000ff}
#app-mount #pubslayer input {color: #000;border-color: rgba(0,0,0,1);border-radius: 6px;width: 175px;position:relative;left:-15px}
#app-mount #pubslayer .ui-tab-bar-item {color: #000;line-height: 10px;font-weight: 600}
#app-mount #pubslayer .ui-tab-bar-item:hover,#app-mount #pubslayer .ui-tab-bar-item.selected {color: #fff;background-color: hsl(220, 6%, 40%)}

/* Plugin */
#app-mount .DevilBro-modal .tab {opacity: 1;color: #000}
#app-mount .DevilBro-modal .tab:hover,#app-mount .DevilBro-modal .tab.selected {border-bottom-color: #000}
#app-mount #memberCount {color: #000;background: #ccc}

/* Compact Mode */
#app-mount .containerCozy-jafyvG.compact .timestampCozy-2hLAPV {color: #000}

/* Minimal Mode */
.bd-minimal #app-mount .container-2Thooq .button-2b6hmh {margin-top: 0}
.bd-minimal #app-mount .guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 a,
.bd-minimal #app-mount .iconSizeLarge-161qtT {height: 20px;width: 20px}
.bd-minimal #app-mount .guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .badge-1GsMF2 {bottom: -3px;right: -3px;padding: 1px 3px}

/* Roundness */
#app-mount .mask-3OgeRz {-webkit-mask: none;mask: none}
#app-mount .badge-1GsMF2,#app-mount .guildsWrapper-5TJh6A .guildsAdd-21_IdK,#app-mount .guildsWrapper-5TJh6A .guilds-1q_RqH .guildIcon-CT-ZDq, 
#app-mount .guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4, #app-mount .image-33JSyf, #app-mount .avatar-large, 
#app-mount .avatar-profile, #app-mount .small-5Os1Bb,#app-mount .avatar-small, #app-mount .avatarHint-1qgaV3,#app-mount .title-3qD0b- .status,
 #app-mount .titleCall-_b9o8P .status, #app-mount .avatar-xlarge, #app-mount .avatar-xsmall, #app-mount .avatar-xxlarge, 
 #app-mount .statusProfile-3ynqtt  {border-radius: var(--round) !important}

/* Main Background/Titlebar */
#app-mount .uploadModal-2ifh8j .footer-3mqk7D, #app-mount  .uploadModal-2ifh8j, #app-mount #friends, 
#app-mount .body-3ND3kc, #app-mount .topSectionNormal-2-vo2m, #app-mount .activityFeed-28jde9, 
#app-mount .footer-2yfCgX, #app-mount .modal-3HD5ck, #app-mount .headerBar-UHpsPw, #app-mount .channels-Ie2l6A, 
#app-mount .container-PNkimc, #app-mount .layer-3QrUeG, #app-mount .layers-3iHuyZ,#app-mount .standardSidebarView-3F1I7i,
#app-mount .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN, #app-mount .standardSidebarView-3F1I7i .contentRegion-3nDuYy, 
#app-mount .guildsWrapper-5TJh6A .guilds-1q_RqH, #app-mount .chat-3bRxxu .content-yTz4x3, #app-mount .members-1998pB, 
#app-mount .title-3qD0b-, #app-mount .scroller-2v3d_F, #app-mount .header-2o-2hj, #app-mount .container-2Thooq, 
#app-mount .gameLibrary-TTDw4Y,.container-2lgZY8,.applicationStore-1pNvnv {background: var(--mc) !important;background-color:var(--mc) !important}

#app-mount .themedPopout-25DgLi {background: #eee}
#app-mount .iconBadge-2dji3k {border-color: #000}
#app-mount .iconBadge-2dji3k:hover {border-color: #eee}
.titleBar-AC4pGV::after {background: var(--mc) !important;content:"";position:absolute;z-index:-1;top:0;left:0;right:0;width:100%;height:22px;} 
.wordmark-2iDDfm svg > path {fill:#000}
.winButtonClose-1HsbF- > svg > polygon  {fill:#000}
.winButtonMinMax-PBQ2gm > svg > rect {stroke:#000}
.winButton-iRh8-Z {opacity: 1}
#app-mount .iconForeground-3y9f0B, #app-mount .title-1aVOXw {color: #000}
#app-mount .title-3qD0b- {box-shadow:none;border-bottom: 1px solid #000;}
#app-mount .backdrop-1wrmKB {opacity: .3 !important}

::-webkit-input-placeholder, body, button, input, select, textarea {color: #000;font-family:var(--font);font-weight:bold;text-rendering: optimizeLegibility !important}
#app-mount ::-webkit-input-placeholder {color: rgba(0,0,0,.8) !important}